* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;

  background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
}

main {
  margin-top: -0.75rem;
  padding: 3rem 4rem 4rem;
  width: min(26.75rem, 90%);
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  background-color: #FFF;
}