* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, button, input {
  font-family: "DM Sans", sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;

  background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
}

main {
  margin-top: -0.75rem;
  padding: 3rem 4rem 4rem;
  width: min(26.75rem, 90%);

  text-align: center;

  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  background-color: #FFF;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;

  margin-bottom: 1rem;
}

h1, p {
  color: #34355B;
}

p {
  opacity: 0.8;
}

form {
  display: flex;
  justify-content: center;

  margin-top: 3rem;
}

input, button {
  border: 0;
  padding: 1rem;
}

input {
  width: 3rem;
  border-radius: 4px 0 0 4px;

  background-color: #DCE2E9;
}

button {
  font-weight: bold;

  cursor: pointer;
  border-radius: 0 4px 4px 0;

  color: white;
  background-color: #7879F1;
  transition: .3s ease-in-out;
}

button:hover {
  opacity: 0.8;
}